#container {
  padding: 10%;
}

.card {
  text-align: left;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 150px;
}

.speed {
  font-size: 30px;
}

.unit {
  font-size: 20px;
}

.fly {
  width: 90%;
}

.stopped-fly {
  border-top: 5px dotted #ADB5BD;
  width: 90%
}