<template>
  <b-container id="container">
    <b-card no-body class="overflow-hidden card">
      <div v-if="isLoading" class="text-center" style="margin: 10px">
        <b-spinner class="align-middle" style="margin-right: 10px"></b-spinner>
        <strong>Loading...</strong>
      </div>
      <b-row v-else-if="!isLoading && drone.id" no-gutters>
        <b-col md="4" style="text-align: center">
          <b-card-img :src="drone.image" alt="Image" class="rounded-circle"></b-card-img>
        </b-col>
        <b-col md="8">
          <b-card-body :title="'Drone: ' + drone.id + ' - ' + drone.name">
            <!-- Battery -->
            <b-card-title>Battery:</b-card-title>
            <b-card-text>
              <b-progress :id="'battery-percentage-' + drone.id" 
                :value="drone.battery" :variant="drone.battery > 20 ? 'success' : 'danger'"/>
              <b-tooltip :target="'battery-percentage-' + drone.id" triggers="hover">
                {{drone.battery}}%
              </b-tooltip>
            </b-card-text>
            <!-- Max Speed -->
            <b-card-title>Max Speed:</b-card-title>
            <b-card-text>
              <div>
                <span class="speed">{{ drone.max_speed.toString().split('.')[0] }}</span>
                <span class="unit">{{drone.max_speed.toString().split('.').length > 1 ? 
                  ('.' + drone.max_speed.toString().split('.')[1]) : '' }} m/h</span>
              </div>
            </b-card-text>
            <!-- Average Speed -->
            <b-card-title>Average Speed:</b-card-title>
            <b-card-text>
              <div>
                <span class="speed">{{ drone.average_speed.toString().split('.')[0] }}</span>
                <span class="unit">{{drone.average_speed.toString().split('.').length > 1 ? 
                  ('.' + drone.average_speed.toString().split('.')[1]) : '' }} m/h</span>
              </div>
            </b-card-text>
            <!-- Current Fly -->
            <b-card-title>Current Fly:</b-card-title>
            <b-card-text>
              <div v-if="drone.status === 'flying'">
                <div :id="'fly-' + drone.id">
                  <b-icon-chevron-left animation="throb" font-scale="1.2" class="mb-1" v-if="drone.fly > 50"/>
                  <b-form-input class="fly" disabled type="range" min="0" max="50"
                    :value="drone.fly > 50 ? (50 - (drone.fly - 50)) : (drone.fly)"/>
                  <b-icon-chevron-right animation="throb" font-scale="1.2" class="mb-1" v-if="drone.fly < 50"/>
                </div>
                <b-tooltip :target="'fly-' + drone.id" triggers="hover">
                  {{drone.fly > 50 ? 'Coming' : 'Going'}}
                </b-tooltip>
              </div>
              <div v-else>
                <hr class="stopped-fly" />
              </div> 
            </b-card-text>
            <!-- Status -->
            <b-card-title>Status:</b-card-title>
            <b-card-text>
              <h5>
                <b-badge pill :variant="statusColor.find(item => item.value === drone.status).color">
                  {{drone.status.toUpperCase()}}
                </b-badge>
              </h5>
            </b-card-text>
          </b-card-body>
        </b-col>
      </b-row>
      <div v-else class="text-center" style="margin: 10px">
        <h4>Drone not found!</h4>
      </div>
      <template #footer>
        <b-button block variant="primary" @click="seeAllDrones">See All Drones</b-button>
      </template>
    </b-card>
  </b-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { getDroneById } from '@/service/drones'

export default Vue.extend({
  name: 'Details',
  data() {
    return {
      isLoading: false,
      drone: {},
      statusColor: [
        { value: 'flying', color: 'primary' },
        { value: 'charging', color: 'info' },
        { value: 'success', color: 'success' },
        { value: 'repair', color: 'warning' },
        { value: 'offline', color: 'dark' },
        { value: 'failed', color: 'danger' },
      ]
    }
  },
  created() {
    const url = new URL(document.location.href)
    this.getDroneById(Number(url.searchParams.get('droneId')) ?? 0)
  },
  methods: {
    async getDroneById(id:number) {
      this.isLoading = true
      const response = await getDroneById(id)
      this.drone = response.data
      this.isLoading = false
    },
    seeAllDrones() {
      if (window.history.length > 2) {
        window.history.go(-1)
      } else {
        this.$router.push('/')
      }
    }
  }
})
</script>

<style scoped src="./style/index.css"/>