#container {
  padding: 0.5% 0%;
  overflow-x: hidden;
}

.filter {
  padding: 10px;
}

.table-responsive {
  overflow-y: hidden;
}

.speed {
  font-size: 20px;
}

.unit {
  font-size: 14px;
}

.fly {
  width: 85%;
}

.stopped-fly {
  border-top: 5px dotted #ADB5BD;
  width: 90%
}

.pagination {
  width: 500px;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 500px) {
  #container {
    padding: 2% 4%;
  }

  .fly{ 
    width: 65%;
  }
}