<template>
  <b-container id="container">
    <b-card class="overflow-hidden">
      <!-- Filters -->
      <b-row>
        <!-- Drone Id -->
        <b-col class="filter" md>
          <b-form-input @input="filter" v-model="droneId" placeholder="Drone Id"></b-form-input>
        </b-col>
        <!-- Name -->
        <b-col class="filter" md>
          <b-form-input @input="filter" v-model="name" placeholder="Name"></b-form-input>
        </b-col>
        <!-- Current Fly Filter -->
        <b-col class="filter" md>
          <b-form-select @change="filter" v-model="flySelected" :options="flyFilter"></b-form-select>
        </b-col>
        <!-- Status Filter -->
        <b-col class="filter" md>
          <b-form-select @change="filter" v-model="statusSelected" :options="statusFilter"></b-form-select>
        </b-col>
        <b-col class="filter" md>
          <b-form-select @change="filter" v-model="perPageSelected" :options="perPage"></b-form-select>
        </b-col>
      </b-row>
      <!-- Table -->
      <b-table id="drones-table" responsive :items="items" :fields="columns" :current-page="currentPage" 
        :per-page="perPageSelected" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" 
        :sort-direction="sortDirection" :busy.sync="isLoading" show-empty>
        <template #table-busy>
          <div class="text-center" style="margin-top: 10px">
            <b-spinner class="align-middle" style="margin-right: 10px"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>
        <template #empty>
          <h4>No results!</h4>
        </template>
        <!-- Drone -->
        <template #cell(id)="row">
          <div>{{ row.item.id }}</div>
        </template>
        <!-- Customer -->
        <template #cell(customer)="row">
          <b-row>
            <div>
              <img :src="row.item.image" class="rounded-circle" alt="Image"/>
            </div>
            <div>
              <div>{{ row.item.name }}</div>
              <div>{{ row.item.address }}</div>
            </div>
          </b-row>
        </template>
        <!-- Battery -->
        <template #cell(battery)="row">
          <b-progress :id="'battery-percentage-' + row.item.id" 
            :value="row.item.battery" :variant="row.item.battery > 20 ? 'success' : 'danger'"/>
          <b-tooltip :target="'battery-percentage-' + row.item.id" triggers="hover">
            {{row.item.battery}}%
          </b-tooltip>
        </template>
        <!-- Max Speed -->
        <template #cell(maxSpeed)="row">
          <div>
            <span class="speed">{{ row.item.max_speed.toString().split('.')[0] }}</span>
            <span class="unit">{{row.item.max_speed.toString().split('.').length > 1 ? 
              ('.' + row.item.max_speed.toString().split('.')[1]) : '' }} m/h</span>
          </div>
        </template>
        <!-- Average Speed -->
        <template #cell(averageSpeed)="row">
          <div>
            <span class="speed">{{ row.item.average_speed.toString().split('.')[0] }}</span>
            <span class="unit">{{row.item.average_speed.toString().split('.').length > 1 ? 
              ('.' + row.item.average_speed.toString().split('.')[1]) : '' }} m/h</span>
              {{row.item.fly}}
          </div>
        </template>
        <!-- Current Fly -->
        <template #cell(fly)="row">
          <div v-if="row.item.status === 'flying'">
            <div :id="'fly-' + row.item.id">
              <b-icon-chevron-left animation="throb" font-scale="1.2" class="mb-1" v-if="row.item.fly > 50"/>
              <b-form-input class="fly" disabled type="range" min="0" max="50"
                :value="row.item.fly > 50 ? (50 - (row.item.fly - 50)) : (row.item.fly)"/>
              <b-icon-chevron-right animation="throb" font-scale="1.2" class="mb-1" v-if="row.item.fly < 50"/>
            </div>
            <b-tooltip :target="'fly-' + row.item.id" triggers="hover">
              {{row.item.fly > 50 ? 'Coming' : 'Going'}}
            </b-tooltip>
          </div>
          <div v-else>
            <hr class="stopped-fly" />
          </div>        
        </template>
        <!-- Status -->
        <template #cell(status)="row">
          <h5>
            <b-badge pill :variant="statusFilter.find(item => item.value === row.item.status).color">
              {{row.item.status.toUpperCase()}}
            </b-badge>
          </h5>
        </template>
        <!-- Details -->
        <template #cell(details)="row">
          <b-button variant="primary" size="sm" :to="'/drone?droneId=' + row.item.id" class="mr-2">
            Details
          </b-button>
        </template>
      </b-table>
      <b-col class="pagination">
        <b-pagination v-model="currentPage" :disabled="isLoading" :total-rows="items.length" 
          :per-page="perPageSelected" align="fill" size="sm" class="my-0"/>
      </b-col>
    </b-card>
  </b-container>
</template>

<script lang='ts'>
import Vue from 'vue'
import { getAllDrones } from '@/service/drones'

export default Vue.extend({
  name: 'Home',
  data() {
    return {
      droneId: '',
      name: '',
      flySelected: '',
      flyFilter: [
        { value: '', text: 'Current Fly' },
        { value: 'going', text: 'Going' },
        { value: 'coming', text: 'Coming' },
      ],
      statusSelected: '',
      statusFilter: [
        { value: '', text: 'Status' },
        { value: 'flying', text: 'Flying', color: 'primary' },
        { value: 'charging', text: 'Charging', color: 'info' },
        { value: 'success', text: 'Success', color: 'success' },
        { value: 'repair', text: 'Repair', color: 'warning' },
        { value: 'offline', text: 'Offline', color: 'dark' },
        { value: 'failed', text: 'Failed', color: 'danger' },
      ],
      columns: [
        { key: 'id', label: 'Drone', sortable: true, class: 'text-center' },
        { key: 'customer', label: 'Customer', sortable: false, class: 'text-left' },
        { key: 'battery', label: 'Battery', sortable: true, class: 'text-center' },
        { key: 'maxSpeed', label: 'Max Speed', sortable: false, class: 'text-center' },
        { key: 'averageSpeed', label: 'Average Speed', sortable: false, class: 'text-center' },
        { key: 'fly', label: 'Currently Fly', sortable: false, class: 'text-center' },
        { key: 'status', label: 'Status', sortable: true, class: 'text-center' },
        { key: 'details', label: 'Details', sortable: false, class: 'text-center' },
      ],
      isLoading: false,
      currentPage: 1,
      perPageSelected: 10,
      perPage: [
        { value: 10, text: '10 Items' },
        { value: 15, text: '15 Items' },
        { value: 25, text: '25 Items' },
      ],
      sortBy: 'id',
      sortDesc: false,
      sortDirection: 'asc',
      dronesResponse: [
        {
          "id": 0,
          "image": "",
          "name": "",
          "address": "",
          "battery": 0,
          "max_speed": 0,
          "average_speed": 0,
          "status": "",
          "fly": 0
        }
      ],
      items: [
        {
          "id": 0,
          "image": "",
          "name": "",
          "address": "",
          "battery": 0,
          "max_speed": 0,
          "average_speed": 0,
          "status": "",
          "fly": 0
        }
      ],
      filterUrl: ''
    }
  },
  created() {
    const url = new URL(document.location.href)
    this.droneId = url.searchParams.get('droneId') ?? ''
    this.name = url.searchParams.get('name') ?? ''
    this.flySelected = url.searchParams.get('fly') ?? ''
    this.statusSelected = url.searchParams.get('status') ?? ''
    this.perPageSelected = Number(url.searchParams.get('items')) > 0 ? Number(url.searchParams.get('items')) : 10
    this.currentPage = Number(url.searchParams.get('page')) > 0 ? Number(url.searchParams.get('page')) : 1
    this.getAllDrones()
    this.filter()
  },
  methods: {
    async getAllDrones() {
      this.isLoading = true
      const response = await getAllDrones()
      this.dronesResponse = response.data
      this.items = this.dronesResponse
      this.isLoading = false
    },
    filter() {
      let flyStatus = this.flySelected === 'going' ? 'item.fly < 50' : 'item.fly > ' + (this.flySelected === 'coming' ? '50' : '0')
      this.items = this.dronesResponse.filter(
        item => 
          (item.status.includes(this.statusSelected) 
          && item.name.toLowerCase().includes(this.name.toLowerCase())
          && (item.id.toString().includes(this.droneId) || item.id.toString() === this.droneId)
          && eval(flyStatus)
        )
      )
      this.setFilters()
    },
    setFilters() {
      let filter = '?droneId=' + this.droneId + '&name=' + this.name + '&fly=' + this.flySelected + '&status=' + 
        this.statusSelected + '&items=' + this.perPageSelected.toString() + '&page=' + this.currentPage
      const setFilter = window.location.protocol + "//" + window.location.host + window.location.pathname + filter
      window.history.pushState({ path: setFilter }, '', setFilter)
    }    
  },
  watch: {
    currentPage() {
      this.setFilters()
    }
  }
})
</script>

<style scoped src="./style/index.css"/>